Q1. In the below elements which of them are values or an expression? eg:- 

---

values can be integer or string and expressions will be mathematical operators.

---


# * 

'hello'

-87.8

'-'

/
+
    
6 

Answer 1:
    * is a expression (mathematical oprator)

'hello' is a string value

-87.8 is a float value

'-' is a expression (mathematical operator)

/ is a expression (mathematical operator)

'+' is a expression (mathematical operator)

6 is a int value

## Q2. What is the difference between string and variable?
Answer:
        string is a data type in a python and variable is a container to which values are assinged e.g. abc="hello", in the example abc is variable to which string value is assigned

## Q3. Describe three different data types.

Answer:
    1. Strings: string data type is used to store different types of alpha numeric data, strings characters can be accessed by index, strings are immutable means you cannot change the elements of strings via index or we cannot append new elements to strings without concatination of two strings.

In [ ]:
s= "anb23" #sting data type
print(s)
print(s[1])
"""s[1]=2""" # will give error

anb23
n

's[1]=2'

**2) int** : Integers is a Numeric data type and these are used to store number values and we can perform arithmetic oprations on the int,

In [ ]:
num=10 #by default python will take it as int no need to give the data type

**3) List**: Lists are sequence data type, Lists can hold multiple values these are heterogenous in nature and are mutable means we can enter new elements through append function or we can chanage element on certain index.

In [ ]:
l = [1,'sd',2,['sd','sdsd',2],(1,2,3)]
print(l[1])
l[1]=3
print(l[1])
print(l)

sd
3
[1, 3, 2, ['sd', 'sdsd', 2], (1, 2, 3)]

## Q4 What is an expression made up of? What do all expressions do?

Answer:

Expression generally contains values, operators, variables and function calls. Expressions calculate the output on the basis of values provided and operators given and will calculate on basics of order of oprators. expressions will give integer, float, boolean type of values.Multiple values will be reduced to single value.

##

## Q5  This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer:
        assignment statments are used to assign the value to a variable. Expression will be used to calculate the single value from combination of values, variables and operators.

##

## Q6 After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

Answer: 
    bacon will have 22 in it

In [ ]:
bacon = 22

bacon + 1
print(bacon)

22

## Q7 What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

Answer:
      'spam'+'spamspam' = 'spamspamspam'

'spam'*3 = 'spamspamspam'

In [ ]:
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

## Q8 Why is eggs a valid variable name while 100 is invalid?

Answer:
       As per python guide line in identifier or variable name cannot have number in the start of name, special character in the variable name, i.e. why egg correct name and 100 is not as it starts with numbers.

## Q9 What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer: 
     1. integer = int()
     2. floating-poin = float()
     3. string = str()

In [ ]:
a=int(2)
print(type(a))
a=float(a)
print(type(a))
a=str(a)
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

##

##

## Q10 Why does this expression cause an error? How can you fix it?
## 'I have eaten ' + 99 + ' burritos.'


Answer:
    In above expression 99 is a integer and we cannot concatenate string and integer, To fix the function we can convert 99 to string

In [ ]:
'I have eaten '+'99'+' burritos'

'I have eaten 99 burritos'